$search-bar-border: rgba(255, 255, 255, 0.856);
$stats-color: #70757a;
$clear-button-color: beige;
$background-color: white;
$font-color: black;
$logo-blue: lightblue;
$logo-red: red;
$logo-yellow: yellow;
$logo-green: lightgreen;
$link-color: royalblue;
$link-visited-color: rgb(105, 0, 119);
$link-outline-color: black;
$link-stack: "Roboto", "Times New Romans", serif;